@{


    /*  
    ViewBag.Areas = "SEG";
    ViewBag.Views = "Tsistema";
    ViewBag.Controller = "Tsistema";
    //
    ViewBag.Icon = "monitor-smartphone"; // ícone padrão
    ViewBag.Title = "Tabela de Sistemas";
    ViewBag.SubTitle = "Segurança";
    //
    ViewBag.HabilitaBtnNovo = true;
    ViewBag.HabilitaBtnExportar = true;
    // Layout
    Layout = "~/Views/Shared/_VerticalLayout.cshtml";

    ViewBag.HabilitaBtnMostraCamposAdicionais = true; 
    */

    // 1) Nome do grid
    var gridName = ViewBag.gridName is string s && !string.IsNullOrWhiteSpace(s) ? s : "#tblDefault";


    // 1) Área: ViewBag.Areas -> rota -> ""
    var area = (ViewBag.Areas as string)
               ?? (ViewContext.RouteData.Values["area"] as string)
               ?? "";

    // 2) Controller (ordem pedida): ViewBag.Controller -> ViewBag.Views -> rota -> ""
    var controller =
        !string.IsNullOrWhiteSpace(ViewBag.Controller as string) ? (string)ViewBag.Controller :
        !string.IsNullOrWhiteSpace(ViewBag.Views as string) ? (string)ViewBag.Views :
        (ViewContext.RouteData.Values["controller"] as string) ?? "";


    <!---->
    @* Habilitação por botão *@
    var aHref = ViewBag.aHref;
    
    @* Habilitação por botão *@
    var dataAction = ViewBag.dataAction;
    
    @* Habilitação por botão *@
    var dataContext = ViewBag.dataContext;

    @* Habilitação por botão *@
    var dataTable = ViewBag.dataTable;

    @* Habilitação por botão *@
    var dataUseModal = (ViewBag.dataUseModal as bool?) ?? false; 

    @* Habilitação por botão *@
    var dataTitle = ViewBag.dataTitle;

    @* Habilitação por botão *@
    var dataCreatePost = ViewBag.dataCreatePost;

    @* Habilitação por botão *@
    var iHabilitaBtnNovo =  (ViewBag.iHabilitaBtnNovo as bool?) ?? false;
    var iCanDelete =  (ViewBag.iCanDelete as bool?) ?? false;
    var iCanEdit =  (ViewBag.iCanEdit as bool?) ?? false;
    var iCanExport =  (ViewBag.iCanExport as bool?) ?? false;
    // ViewBag.HabilitaBtnExportar = acts.Contains("C");

}

<!-- Topbar Start -->
<div class="row mb-2">
        <div class="col-lg-12">
            <form class="bg-light-subtle rounded border p-2">
                <div class="d-flex flex-wrap justify align-items-center gap-3">
                    <div class="d-lg-none d-flex gap-2">
                        <button class="btn btn-default btn-icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#productFillterOffcanvas" aria-controls="productFillterOffcanvas">
                            <i class="ti ti-menu-2 fs-lg"></i>
                        </button>
                    </div>
                    <h3 class="mb-0 fs-xl flex-grow-1">
                        <!---->
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        <input id="searchGrid" type="text" class="form-control" placeholder="Pesquisar na tabela..." />
                        <button type="button" class="btn btn-outline-secondary btn-sm" id="btnLimpaPesquisa" title="Limpar">
                            <i class="fa fa-times"></i>
                        </button>
                        </div>
                        <!---->
                    </h3>

                    <div class="d-flex gap-1">
                        
                    @* Botão Novo *@
                        <!---->
                    @if (iHabilitaBtnNovo) {
                            <a class="btn btn-info ms-1"
                            href="@aHref"
                            data-action="btnNewRegistration" @* <!-- Fixo, não mudar --> *@
                       data-context="@dataContext" @*  <!-- o mesmo context usado no DTUtil.createAjaxDataTable -->*@
                       data-table="@dataTable" @*   <!-- seletor do seu DataTable para dar reload após salvar -->*@
                       data-use-modal="@dataUseModal" @*        <!-- abre no modal -->*@
                       data-title="@dataTitle" @*  <!-- título do modal (opcional) -->*@
                       data-create-post="@dataCreatePost">
                        @*  <!-- opcional; se diferente, informe aqui -->*@
                            <i data-lucide="plus" class="fs-sm me-2"></i> Novo
                            </a>
                            }
                        <!---->

                    @* Export dropdown *@
                        @if (iCanExport)
                    {
                        <div class="dropdown">
                            <a href="#" class="btn btn-soft-primary btn-icon" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false" title="Exportar">
                                <i data-lucide="file-down" class="fs-lg"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#" data-export="excel" data-target="@gridName">
                                        <i class="fa fa-file-excel text-success me-2"></i>Excel
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="#" data-export="csv" data-target="@gridName">
                                        <i class="fa fa-file-csv text-info me-2"></i>CSV
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="#" data-export="pdf" data-target="@gridName">
                                        <i class="fa fa-file-pdf text-danger me-2"></i>PDF
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="#" data-export="print" data-target="@gridName">
                                        <i class="fa fa-print text-secondary me-2"></i>Imprimir
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="#" data-export="copiar" data-target="@gridName">
                                        <i class="fa fa-copy text-secondary me-2"></i>Copiar
                                    </a>
                                </li>
                            </ul>
                        </div>

                    }
                                    

                    <div class="dropdown">
                        <a href="#" class="btn btn-soft-primary btn-icon" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false" title="Exportar">
                            <i data-lucide="ellipsis-vertical" class="fs-lg"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">

                            <li>
                                <a href="#" class="dropdown-item" data-dt-refresh="@gridName">
                                    <i class="fa-solid fa-rotate-right me-2"></i> Atualizar
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown-item"
                                   data-bs-toggle="modal"
                                   data-bs-target="#colVisModal"
                                   data-table="@gridName">
                                    <i class="fa-solid fa-table-columns me-2"></i> Colunas visíveis
                                </a>
                            </li>

                            <li><a class="dropdown-item" href="#" id="btnRecarregar"><i class="fa fa-file-csv text-info me-2"></i>Filtros</a></li>
                            @if (@iCanDelete) {
                            <li>
                                <a href="#" class="dropdown-item text-danger"
                                   data-bulk="delete"
                                   data-target="@gridName">
                                    <i class="fa fa-trash me-2"></i>Excluir selecionados
                                </a>
                            </li>
                            }
                            <hr />

                    
                            <li><a class="dropdown-item" href="#" id="exportPrint"><i data-lucide="star" class="fs-lg"></i> Adicionar aos Favoritos</a></li>
                            
                            <li>
                                <a class="dropdown-item"
                                   href="#"
                                   id="exportPrint"
                                   data-bs-toggle="offcanvas"
                                   data-bs-target="#canvas-show-debug">
                                    <i data-lucide="bug" class="fs-lg me-2"></i> Debugar
                                </a>
                            </li>
                        </ul>
                    </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
<!-- Topbar End -->


